.bg-custom-primary {
  background-color: #037171; }

.bg-custom-secondary {
  background-color: #00b9ae; }

.bg-custom-tertiary {
  background-color: #bcf8ec; }

.bg-custom-accent {
  background-color: #b8e0d2; }

.bg-custom-fill {
  background-color: #aaaaaa; }

.fg-custom-primary {
  color: #037171; }

.fg-custom-secondary {
  color: #00b9ae; }

.fg-custom-tertiary {
  color: #bcf8ec; }

.fg-custom-accent {
  color: #b8e0d2; }

.fg-custom-fill {
  color: #aaaaaa; }

body {
  color: #037171;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: #037171;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem; }

h6 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.8rem; }

h3 {
  font-size: 2rem; }

h2 {
  font-size: 2.2rem; }

h1 {
  font-size: 2.6rem; }

a {
  color: #037171; }

a:hover {
  color: #00b9ae; }

.nav-pills .nav-item .nav-link.active {
  background-color: #037171; }

br {
  line-height: 150%; }

.jshidden{
  display: none;
}

button{
  z-index: 200;
}

#mainWrapper{
  min-height: 100vh;
}

.dummy-div {
  height: 20vh; }

.simple-enum{
  list-style-type: none;
}
  
.simple-enum li {
  text-align: right !important;
  padding: 1rem 0 0 0;
}

.max-w-100 {
  max-width: 100% !important;
}

.max-w-inherit {
  max-width: inherit !important;
}

.sidebar {
  transition: width 0.5s;
}

.sidebar-collapsed {
  position: fixed !important;
  width: 6rem !important;
  background-color: transparent !important;
  z-index: 5;
}

.sidebar-collapsed #navBar {
  display: none;
}

@media (max-height: 660px) {
  #navBar {
    position: static !important;
    min-width: 100%;
  }
}

@media (min-width: 576px) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 576px) {
  .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}

@media (min-width: 768px) {
  #navBar {
    position: fixed;
    overflow: auto;
  }
}

@media (min-width: 1200px) {
  .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}